/* your code here */
.content{
	background-color: black;
	height: 300px;
	width:650px;
	display: flex;
	box-sizing: content-box;
}
.media-icons{
	display: flex;
}
.logo_name{
	color: white;
	font-size: 30px;
	font-family: arial;	
}
.top{
	margin-left: 20px;
	margin-top: 20px;
	height: 40px;
}
.link-boxes{
	display: flex;
	color: white;
}
.link{
	display: flex;
}
.link a{
	display: flex;
	color: white;
	align-items: center;
	justify-content: space-around;
    text-align: left;
}
/* a{
	float: left;
} */
.details{
	height: 200px;
	margin-top: 100px;
	margin-bottom: 0px;
	margin-right: 110px;
	margin-left: -100px;
	padding-left: 0px; 
	
}
.section{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	width: 150px;
	text-align: left;
	font-weight: 100;
}
.heading{
	margin-left: -100px;
	margin-bottom: 8px;
	font-weight: 400;
}
.heading3{
	margin-left: -100px;
	margin-bottom: 8px;
	margin-right: -50px;
	font-weight: 400;
}
.heading1{
	margin-left: -100px;
	margin-bottom: 8px;
	margin-right: 10px;
	font-weight: 400;
}
.bottom-details{
	width: 100%;
	margin-top: 260px;
	margin-left: -782px;
}
.bottom{
	display: flex;
	box-sizing: content-box;
	height: 40px;
	background-color: #36454F;
	color: lightgray;
	padding-left: 25px;
	padding-right: 25px;
	justify-content: space-between;
	font-size: 12px;
	font-weight: 100;
}